# Traefik Helm values use in main.tf
image:
  name: traefik
  tag: "2.6"

deployment:
  replicas: 1

ingressRoute:
  dashboard:
    enabled: false
    annotations: { traefik.ingress.kubernetes.io/router.tls: "true" }

ports:
  web:
    redirectTo: websecure

additionalArguments:
  - "--log.level=INFO"
  - "--entrypoints.websecure.http.tls"
  - "--providers.kubernetesIngress.ingressClass=traefik-cert-manager"
  - "--ping"
  - "--metrics.prometheus"

logs:
  access:
    enabled: true

service:
  enabled: true
  type: LoadBalancer

resources:
  requests:
    cpu: "100m"
    memory: "50Mi"
  limits:
    cpu: "300m"
    memory: "100Mi"