name: Push checks

on:
  push:
    branches:
      - main
      - cd

env:
  PROJECT_ID: ${{ secrets.PROJECT_ID }}
  GKE_CLUSTER_NAME: cluster-demo
  GKE_REGION: europe-west1

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-18.04
    timeout-minutes: 30
    permissions:
      contents: 'read'
      id-token: 'write'
    steps:
      - uses: actions/checkout@v2
      - id: 'auth'
        name: 'Authenticate to Google Cloud'
        uses: 'google-github-actions/auth@v0'
        with:
          credentials_json: '${{ secrets.GKE_SA_KEY }}'
      - uses: azure/setup-helm@v1
        with:
          version: '3.7.2'
      - name: Deploy
        run: |
          terraform init
          terraform apply -auto-approve 